<IfModule mod_php.c>
  php_value upload_max_filesize 50M
  php_value post_max_size 64M
  php_value max_file_uploads 50
  php_value max_input_time 600
  php_value max_execution_time 600
  php_value memory_limit 256M
</IfModule>

<IfModule mod_php8.c>
  php_value upload_max_filesize 50M
  php_value post_max_size 64M
  php_value max_file_uploads 50
  php_value max_input_time 600
  php_value max_execution_time 600
  php_value memory_limit 256M
</IfModule>

LimitRequestBody 67108864
